@model Capstone1.Models.ClassChoosenDetails;


@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}

<h1>Please Choose One Of The Given Classes</h1>





<div class="FormDiv">

    <p>Please pick the age group and the location you wish to attend</p>

    <form method="Get" asp-action="Registration">

		<div class="ClassTableCenter">
			@foreach (var item in Model.All.ToList())
			{
				<hr />
				<input type="radio" id="@item.Value" name="Lesson" value="@item.Value" class="custom-radio">

				<label for="@item.Value" class="customRadio">@item.Text</label>

				<hr />
			}
		</div>

        <nav class="buttons">
            <a asp-action="Index" class="Cancel">Cancel</a>
            <button type="submit" class="submit">Register</button>
        </nav>
     
	</form>




 

</div>