@using Capstone1.Models
@model Capstone1.Models.AllInformation;
@{
    ViewBag.Title = "Complete";
}

@{
    var data = ViewBag.Message;
}

<div class="text-center">

    <h2>Thank You For Registering With Sweet Sounds Music School</h2>
    <h3>Please Review Your entered Information</h3>

    <p></p>

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form method="post">

                    <div class="row">
                        <div class="col-50">
                            <h3> Your Bank Card Information</h3>

                            <label for="CardNumber">Number On Card (16 digit):</label>
                            <input for="CardNumber" type="text" id="ccnum" name="cardnumber"
                                   value="@data.CardNumber" disabled>

                            <label for="ExpiryMonth">Expiry Month:</label>
                            <input for="ExpiryMonth" type="text" id="ExpiryMonth"
                                   name="ExpiryMonth" value="@data.ExpiryMonth" disabled>

                            <div class="row">
                                <div class="col-50">
                                    <label for="ExpiryYear">Expiry Year:</label>
                                    <input for="ExpiryYear" type="text" id="expyear" name="expyear"
                                           value="@data.ExpiryYear" disabled>
                                </div>
                                <div class="col-50">
                                    <label afor="CVVNumber">CVV (3 digit number) :</label>
                                    <input for="CVVNumber" type="text" id="cvv" name="cvv"
                                           value="@data.CVVNumber" disabled>
                                </div>
                                <div class="col-50">
                                    <h3>Class Informtion</h3>

                                    <label for="ClassLocation">Class Location: </label>
                                    <input for="ClassLocation" type="text" value="** Milton" disabled />

                                    <label for="ClassType"> Type Of Class: </label>
                                    <input for="ClassType" type="text" value="** private Paino Lesson" disabled />
                                </div>
                            </div>
                        </div>
                       

                        <div class="col-50">
                            <h3>Class Registration Information</h3>

                            <label for="ParentName">Parent's Name: </label>
                            <input for="ParentName" type="text" value="@data.FullName" disabled />

                            <label for="ChildName">Child's Name: </label>
                            <input for="ChildName" type="text" value="@data.ChildName" disabled />

                            <label for="ChildAge">Child's Age: </label>
                            <input for="ChildAge" type="number" step="1.0" min="0" max="5" 
                                value="@data.ChildAge" disabled />

                            <label for="NumberOfChildren">Number Of Childern: </label>
                            <input for="NumberOfChildren" type="number" step="1.0" min="1" max="3" 
                                value="@data.NumberOfChildren" disabled />

                            <label for="Email">Parent's Email: </label>
                            <input for="Email" type="email" value="@data.BEmail" disabled />

                            <label for="Phone">Parent's phone: </label>
                            <input for="Phone" type="tel" value="@data.Phone" disabled />

                        </div>

                    </div>
                    <br />
                    <nav class="buttons">

                        <a asp-action="Index" class="Cancel">Cancel</a>
                        <button type="submit" class="submit">Confirm Regitration</button>

                    </nav>

                </form>
            </div>
        </div>

    </div>
    

</div>
